# Configurações do Supabase
NUXT_PUBLIC_SUPABASE_URL=your_supabase_url_here
NUXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key_here
ADMIN_CONFIG_EMAILS=admin@empresa.com.br

# Configuração de ambiente
NODE_ENV=development
